version: 2
jobs:
  release:
    # `dep ensure` must be run from within a known GOPATH/src.
    working_directory: /go/src/github.com/helm/chart-releaser
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - run: go mod download
      # See https://github.com/goreleaser/get
      - run: curl -sL https://raw.githubusercontent.com/goreleaser/get/master/get | VERSION=v0.101.0 bash
workflows:
  version: 2
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
